:root {
  --view-port-width: 0;
  --array-bar-color: #8bd8bd;
  --border-round: 20px;
  --color-purple: #3c1a5b;
  --color-pink: #eb2188;
  --base-color: #1d1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
}

.array-container {
  width: 100%;
  height: 100vh;
  transform: rotateX();
}

.array-bar {
  width: var(--view-port-width);
  background-color: var(--array-bar-color);
  color: white;
  display: inline-block;
  margin: 0 1px;
}

.btn {
  margin: 10px;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: none;
  cursor: pointer;
}

.vis-btn {
  margin: 10px;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: none;
  cursor: pointer;
}

.change-pattern-btn {
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: none;
  cursor: pointer;
}

.change-pattern-btn.toggleOn {
  background-color: white;
  color: var(--color-purple);
}

button:hover {
  cursor: pointer;
}

.nav {
  position: static;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
}

.nav li {
  margin: 0 10px;
}

.drop-down-container {
  margin-right: 10px;
  position: relative;
  width: 125px;
  left: 0;
  right: 0;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: 2px solid #fff748;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.drop-down {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 28px;
  background-color: var(--color-purple);
  z-index: 0;
  text-align: center;
}

.drop-down li {
  padding: 10px;
  border-radius: var(--border-round);
  position: relative;
  right: 0px;
}

.drop-down li:hover {
  color: var(--color-purple);
  background-color: white;
}

.drop-down.active {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 0 0 var(--border-round) var(--border-round);
  margin: 0;
}

.drop-down-container-2 {
  margin-right: 10px;
  position: relative;
  width: 150px;
  left: 0;
  right: 0;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: 2px solid #fff748;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.drop-down-2 {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 28px;
  background-color: var(--color-purple);
  z-index: 0;
  text-align: center;
}

.drop-down-2 li {
  padding: 10px;
  border-radius: var(--border-round);
  position: relative;
  right: 0px;
}

.drop-down-2.active {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 0 0 var(--border-round) var(--border-round);
  margin: 0;
}

.slider-container {
  position: relative;
  bottom: 10px;
  height: 5vh;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  margin: 10px 20px;
  -webkit-appearance: none;
  width: 175px;
  height: 5px;
  /* background-color: #fff748; */
  /* background: linear-gradient(
    90deg,
    rgb(214, 214, 214) 60%,
    rgb(214, 214, 214) 60%
  ); */
  background-color: var(--color-pink);
  border-radius: 10px;
  outline: none;
}

.slider-label {
  width: 80%;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
  background-color: var(--color-purple);
  border-radius: var(--border-round);
  padding: 2px;
  color: white;
  text-align: center;
}

.slider-box {
  width: 30px;
  height: 30px;
  background-color: var(--color-pink);
  color: white;
  transform: rotate(45deg);
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: -15px;
  z-index: 2;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-box div {
  width: auto;
  text-align: center;
  transform: rotate(-45deg);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-btn {
  margin: 10px;
  color: white;
  border-radius: var(--border-round);
  outline: none;
  font-size: 12px;
  padding: 15px;
  background-color: var(--color-purple);
  border: 2px solid #fff748;
  border: none;
  cursor: pointer;
}

.toggle-btn.toggleOn {
  background-color: white;
  color: var(--color-purple);
}

.visualization {
  width: 100%;
  height: 70vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  transform: rotateX(180deg);
  /* margin-top: 50px; */
  /* border: 2px solid red; */
}

i {
  margin-left: 5px;
}

#Lomuto-btn.current-pattern {
  background-color: white;
  color: var(--color-purple);
}

#Hoare-btn.current-pattern {
  background-color: white;
  color: var(--color-purple);
}
